﻿@model DojodachiPet
<ul class="list-inline">
    <li class="list-inline-item">Fullness: <span id="fullness"> @Model.Fullness </span></li>
    <li class="list-inline-item">Happiness: <span id="happiness"> @Model.Happiness </span></li>
    <li class="list-inline-item">Meals: <span id="meals"> @Model.Meals </span></li>
    <li class="list-inline-item">Energy: <span id="energy"> @Model.Energy </span></li>
</ul>

<div id="dojodachi-box" class="border rounded p-4 mb-3">
    <img src="images/neutral.png" alt="Your Dojodachi">
    <p>This is your very own Dojodachi. You win when energy, fullness, and happiness are all raised to over 100. Care for them with the options below!</p>
</div>
<ul class="list-inline">
    <li class="list-inline-item">
        <form action="feed" method="post">
            <input type="submit" value="Feed" class="btn btn-dark">
        </form>
    </li>
    <li class="list-inline-item">
        <form action="play" method="post">
            <input type="submit" value="Play" class="btn btn-dark">
        </form>
    </li>
    <li class="list-inline-item">
        <form action="work" method="post">
            <input type="submit" value="Work" class="btn btn-dark">
        </form>
    </li>
    <li class="list-inline-item">
        <form action="sleep" method="post">
            <input type="submit" value="Sleep" class="btn btn-dark">
        </form>
    </li>
</ul>

<form action="restart" method="post" id="playAgain">
    <input type="submit" class="btn btn-dark" value="Play Again">
</form>

<div class="modal" id="gameOverModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title"></h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <p>Modal body...</p>
            <img src="" alt="">
            <form action="restart" method="post" class="mt-4">
                <input type="submit" class="btn btn-dark" value="Play Again">
            </form>

        </div>
    </div>
</div>