#dojodachi-box {
    background-color: white;
    min-height:350px;
}

#dojodachi-box p {
    font-size:20px;
}

ul li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    font-size:20px;
}

form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url('../images/main-bg.jpg');
}